{% extends "base.html" %}

{% load static %}
{% block title %}
About Us
{% endblock %}
{% block header %}
{% include 'includes/main-nav.html' %}
{% endblock %}

{% block content %}

<div class = "overlay"></div>


    <div class="container-fluid about-info">
        <div class="row">
            <div class="col-12 col-md-6  ">
                <h2>About Us</h2>
                <p>Welcome to The Pattern Mill. Our collection, meticulously curated by our skilled team, is easy to navigate and covers all bases. The simple-to-use search and filter system enables customers to discover the perfect design or theme for products, whatever the pattern, colour or design you seek: from our new arrivals or our extensive archive, florals to geometric prints and beyond.

                    Purchase is simple: The Pattern Mill sells designs in several license formats – whether it’s for personal or commercial use. Membership is completely free and easy to sign up to. Buying designs is straightforward: all payments and file downloads are completed within The Pattern Mill platform.</p>
                <div class="col-12 col-md-6">
                    <img src="/media/george-pagan-iii-WwCTFNpZx8g-unsplash.jpeg" w-50 alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

{% endblock %}