{% extends "base.html" %}

{% load static %}
{% block title %}
About Us
{% endblock %}
{% block header %}
{% include 'includes/main-nav.html' %}
{% endblock %}

{% block content %}

<div class = "overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 flex-center ">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem labore ratione porro ipsa vel quam dignissimos sed ipsum tenetur veniam. Autem blanditiis expedita dicta nihil sed natus iusto assumenda amet?.</p>
            </div>
        </div>
            <div class="col-12 flex-center col-md-6">
                <img src="{{ MEDIA_URL }}fatih-kgqu_qs3B78-unsplash.jpeg" alt="">
            </div>
    </div>

    <div class="container-fluid about-info">
        <div class="row">
            <div class="col-12 col-md-6  ">
                <h2>Product Placement Ideas</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem labore ratione porro ipsa vel quam dignissimos sed ipsum tenetur veniam. Autem blanditiis expedita dicta nihil sed natus iusto assumenda amet?. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta rerum, at iure assumenda sapiente quos fugit quidem, magnam consequuntur voluptate aspernatur deleniti totam perferendis sed, odit nulla? Obcaecati, iusto numquam!</p>
                <div class="col-12 col-md-6">
                    <img src="/media/jon-tyson-Q9tbTd9UmkM-unsplash_UmmVFW5.jpeg" w-50 alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

{% endblock %}