{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div>
        <h4>
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-5 text-uppercase py-3 center">Browse our catalogue</a>
         </h4>
    </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}