<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="" class="dropdown-item">Our mission</a>
                <a href="" class="dropdown-item">How to use our designs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="patterns-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Patterns
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-designs-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?category=abstract,floral,nature,geometric,quirky" class="dropdown-item">All Patterns</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="categories-link">
                <a href="{% url 'products' %}?category=abstract" class="dropdown-item">Abstract</a>
                <a href="{% url 'products' %}?category=floral" class="dropdown-item">Floral</a>
                <a href="{% url 'products' %}?category=nature" class="dropdown-item">Nature</a>
                <a href="{% url 'products' %}?category=geometric" class="dropdown-item">Geometric</a>
                <a href="{% url 'products' %}?category=quirky" class="dropdown-item">Quirky</a>
                <a href="{% url 'products' %}?category=abstract,floral,nature,geometric,quirky" class="dropdown-item">All Categories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="product-placement-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product Placement
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="product-placement-link">
                <a href="{% url 'products' %}?category=homeware" class="dropdown-item">Homeware</a>
                <a href="{% url 'products' %}?category=stationary" class="dropdown-item">Stationary</a>
                <a href="{% url 'products' %}?category=clothing" class="dropdown-item">Clothing</a>
            </div>
        </li>
    </ul>
</div>